body
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color #EEAE4D
  margin 0
  padding 0
  text-align center
a
  color #00B7FF
header
  font-size 3em
  text-align center
  background-color #AE4240
  border-bottom 2pt solid #5D60AD
input
  display block
  margin-right: auto
  margin-left: auto
  padding-bottom: 5px
  margin-bottom: 5px