body
	font 14px "Lucida Grande", Helvetica, Arial, sans-serif
	background-color #EEAE4D
	text-align center
a
	color #00B7FF

header
	text-align center
	background-color #AE4240
	border-bottom 2pt solid #5D60AD
h1
	font-size 4em
	display inline-block

img
	width 50px
	margin-right 4px	
	display inline-block

.reverse
	width 50px
	margin-left 4px
	-webkit-transform scaleX(-1)
	display inline-block

input
	display block
	margin-right auto
	margin-left auto
	height 2em
	width 16em
	margin-bottom 3px

.submit
	width 8em
