body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eeae4d;
  text-align: center;
}
a {
  color: #00b7ff;
}
header {
  text-align: center;
  background-color: #ae4240;
  border-bottom: 2pt solid #5d60ad;
}
h1 {
  font-size: 4em;
  display: inline-block;
}
img {
  width: 50px;
  margin-right: 4px;
  display: inline-block;
}
.reverse {
  width: 50px;
  margin-left: 4px;
  -webkit-transform: scaleX(-1);
  display: inline-block;
}
input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 2em;
  width: 16em;
  margin-bottom: 3px;
}
.submit {
  width: 8em;
}
